body {
  background-color: #080808;
  color: white;
  /*margin: 0px;*/
}

div {
  margin: 0px;
}

p {
  margin: 0px;
}

.encabezado {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1%;
  width: 97.9%;
  height: 65px;
  color: #101010;
  background-color: #835050;
  border: 1px solid;
  border-color: #979797;
  border-radius: 5px;
}

.r1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-around;
}

.r2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: space-around;
}

.logo {
  padding: 0.5%;
  width: 20%;
  color: white;
  background-color: #393838;
  border: 1px solid;
  border-color: #3d5269;
}

.m1 {
  align-self: flex-end;
  padding: 0.5%;
  width: 40%;
  color: white;
  background-color: #393838;
  border: 1px solid;
  border-color: #11672d;
}

.m2 {
  align-self: flex-end;
  padding: 0.5%;
  width: 60%;
  color: white;
  background-color: #393838;
  border: 1px solid;
  border-color: #6e3c3e;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2px;
  margin-bottom: 10px;
}

.izquierda {
  padding: 1%;
  /*margin: 2px 5px 5px 0px;*/
  width: 30%;
  height: 270px;
  background-color: #393838;
  border: 1px solid;
  border-color: #1e1e1e;
  border-radius: 5px;
}

.centro {
  padding: 1%;
  /*margin: 2px 5px 5px 5px;*/
  width: 30%;
  height: 270px;
  background-color: #393838;
  border: 1px solid;
  border-color: #095f5c;
  border-radius: 5px;
}

.derecha {
  padding: 1%;
  /*margin: 2px 0px 5px 5px;*/
  width: 30%;
  height: 270px;
  background-color: #393838;
  border: 1px solid;
  border-color: #9a6027;
  border-radius: 5px;
}

.izquierda2 {
  padding: 1%;
  /*margin: 5px 5px 5px 0px;*/
  width: 64%;
  height: 270px;
  background-color: #393838;
  border: 1px solid;
  border-color: #052604;
  border-radius: 5px;
}

.derecha2 {
  padding: 1%;
  /*margin: 5px 0px 5px 5px;*/
  width: 30%;
  height: 270px;
  background-color: #393838;
  border: 1px solid;
  border-color: #8b4927;
  border-radius: 5px;
}

.pie {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  width: 97.9%;
  height: 65px;
  color: #043446;
  background-color: #393838;
  border: 1px solid;
  border-color: #748489;
  border-radius: 5px;
}

.elemento {
  align-self: flex-end;
  padding: 0.5%;
  width: 27%;
  color: white;
  background-color: #393838;
  border: 1px solid;
  border-color: #93a5b8;
}
